################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Solution_For_Homework/Homework_3/Solution_For_Homework.Homework_3/obj
/.vs/Solution_For_Homework/v15/Server/sqlite3
/Solution_For_Homework/Homework_4/Homework_4/bin/Debug/netcoreapp2.1
/Solution_For_Homework/Homework_4/Homework_4/obj
/.vs/Solution_For_Homework/DesignTimeBuild/.dtbcache
/.vs
/packages
/Solution_For_Homework/Homework_3/Solution_For_Homework.Homework_3/bin/Debug/netcoreapp2.1
/Solution_For_Homework/Homework_4/Homework_4/bin/Debug/net461
/Solution_For_Homework/Homework_5/Homework_5/bin/Debug/net461
/Solution_For_Homework/Homework_5/Homework_5/obj
/Solution_For_Homework/Homework_5_2/bin/Debug
/Solution_For_Homework/Homework_5_2/obj
/Solution_For_Homework/Homework_6/Homework_6/bin/Debug/netcoreapp2.1
/Solution_For_Homework/Homework_6/Homework_6/obj
/Solution_For_Homework/Homework_7_Standalone/Homework_7_Standalone/bin/Debug/net461
/Solution_For_Homework/Homework_7_Standalone/Homework_7_Standalone/obj/Debug/net461
/Solution_For_Homework/Homework_7_Standalone/Homework_7_Standalone/obj
/Solution_For_Homework/Homework_8_Standalone/Homework_8_Standalone/bin/Debug/net461
/Solution_For_Homework/Homework_8_Standalone/Homework_8_Standalone/obj
/Solution_For_Homework/Homework_10_Standalone/obj/Debug/net461
/Solution_For_Homework/Homework_11_Standalone/obj/Debug/netcoreapp2.1
/Solution_For_Homework/Homework_11_Standalone/obj
/Solution_For_Homework/Homework_9_Standalone/bin/Debug/net461
/Solution_For_Homework/Homework_9_Standalone/obj
